In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import mpld3
import numpy as np
import plotly.io as plotio
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
# plotio.write_html(fig, file=’index.html’, auto_open=True)

In [199]:
data = pd.read_csv("data.csv")
df = pd.DataFrame(data)

In [3]:
df.head()

,Index,id,name,release_date,english,developer,publisher,platforms,required_age,steamspy_tags,positive_ratings,negative_ratings,average_playtime,median_playtime,price,detailed_description,about_the_game,short_description
0,0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Action;FPS;Multiplayer,124534,3339,17612,317,7.19,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...
1,1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Action;FPS;Multiplayer,3318,633,277,62,3.99,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...
2,2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,FPS;World War II;Multiplayer,3416,398,187,34,3.99,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...
3,3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Action;FPS;Multiplayer,1273,267,258,184,3.99,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...
4,4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,FPS;Action;Sci-fi,5250,288,624,415,3.99,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...

# Ratings

In [172]:
dic = {'positive':[], 'negative':[]}
df_t = df.query('negative_ratings + positive_ratings > 0' )
df_t.reset_index(drop = True, inplace = True)
for i in range(df_t.shape[0]):
    neg_abs = df_t.negative_ratings[i]
    pos_abs = df_t.positive_ratings[i]
    t = pos_abs + neg_abs
    pos_rel = (pos_abs/t)*100
    neg_rel = (neg_abs/t)*100
    dic['positive'].append(pos_rel)
    dic['negative'].append(neg_rel)
    
df_ratings = pd.DataFrame(dic)
#df_t = pd.merge( df[['name']], df_ratings )
df_ratings = df_t[['name']].join(df_ratings)
df_ratings.head()

                        name   positive   negative
0             Counter-Strike  97.388815   2.611185
1      Team Fortress Classic  83.978740  16.021260
2              Day of Defeat  89.564761  10.435239
3         Deathmatch Classic  82.662338  17.337662
4  Half-Life: Opposing Force  94.799567   5.200433

# Les jeux les plus aimés

In [173]:
n = 1000
fig = px.bar(df_ratings.sort_values(by = 'positive', ascending=False), x='name', y='positive')
plotio.write_html(fig, file='index.html', auto_open=True)
#df_t.sort_values(by = 'positive')[:n]

# Type de jeux

# Type de jeux en fonction des années

In [514]:
ser_years = []
ser_years_d = {}
for date in df.release_date:
    ser_years.append(date[:4])
    ser_years_d[date[:4]] = ser_years_d.get(date[:4], 0) + 1
print(sorted(ser_years_d.items(), key=lambda x: x[0]))


years = list(set(ser_years))
print(years)
dict_years = {k:{} for k in years}
ser_tags = df.steamspy_tags.values
ser_years_d_2 = {}

for i in range(len(ser_tags)):
    t = ser_tags[i]
    y = ser_years[i]
    if ';' in t:
        mt = t.split(';')
        for e in mt:
            dict_years[y][e] = dict_years[y].get(e, 0) + 1
            ser_years_d_2[y] = ser_years_d_2.get(y, 0) + 1
            
    else : 
        dict_years[y][t] = dict_years[y].get(t, 0) + 1
        ser_years_d_2[y] = ser_years_d_2.get(y, 0) + 1

[('1997', 1), ('1998', 1), ('1999', 2), ('2000', 2), ('2001', 4), ('2002', 1), ('2003', 3), ('2004', 6), ('2005', 6), ('2006', 48), ('2007', 93), ('2008', 145), ('2009', 305), ('2010', 238), ('2011', 239), ('2012', 320), ('2013', 418), ('2014', 1555), ('2015', 2597), ('2016', 4361), ('2017', 6357), ('2018', 8160), ('2019', 2213)]
['2005', '2001', '2017', '2007', '1997', '2012', '2002', '2015', '2016', '2011', '2008', '2004', '2000', '1998', '2018', '2003', '2013', '2019', '2009', '2010', '1999', '2006', '2014']

In [266]:
s = 8
e = 12

n_col = 2
n_row = 2

list_type_years = sorted(list(dict_years.items()), key=lambda t: t[0])
list_type_years = list_type_years[s:e]
titles = [ele[0] for ele in list_type_years]


fig = make_subplots(n_row, n_col, specs=[[{'type':'domain'} for i in range(n_col)] for i in range(n_row)],
                    subplot_titles=titles)

r = 1
c = 1
i = 0
for tupl in list_type_years :
    dico = tupl[1]
    list_type = sorted(dico.items(), key=lambda t: t[1], reverse=True)[:50]
    names = []
    values = []
    for t in list_type:
        names.append(t[0])
        values.append(t[1])
    
    fig.add_trace(go.Pie(labels=names, values=values, name=tupl[0]), r, c)
    fig.update_traces(textinfo='value+percent+label', hoverinfo=None)
    i += 1
    if c < n_col : c += 1
    else :
        c = 1
        r += 1
    
fig.update_layout(title_text='Tag en fonction des années')
plotio.write_html(fig, file='index.html', auto_open=True)

In [513]:
import plotly.graph_objects as go

df_dy = pd.DataFrame(dict_years)
dict_dy = df_dy.to_dict()
#print(dict_dy)

for y, d in dict_dy.items():
    for k, v in d.items():
        if v!=v:
            dict_dy[y][k] = 0
        else:
            dict_dy[y][k] = int(v)
            #print(v, int(v))
print('-------------')

df_dy = sorted(dict_dy.items(), key=lambda t: t[0], reverse=False)


list_tag = list(df_dy[0][1].keys())
stag = sorted(list_tag, reverse=False)
#print(stag)

df_dy_list = []
for y, d in df_dy:
    sd = sorted(d.items(), key=lambda t: t[0], reverse=False)
    
    temp = []
    for ele in sd:
        temp.append(ele[1])
    df_dy_list.append(temp)

-------------

In [512]:
new_dict = {}
for tu in df_dy:
    tu_sorted = sorted(list(tu[1].items()), key=lambda x: x[0])
    for tag, v in tu_sorted:
        new_dict[tag] = new_dict.get(tag, []) + [v]
new_list = list(new_dict.items())

years_list = []
for y in df_dy:
    years_list.append(y[0])
    
tags_list = []
values_list = []
for ele in new_list:
    tags_list.append(ele[0])
    values_list.append(ele[1])

In [511]:
data_l = []
print(years_list)
i=0
for ele in values_list:
    gb = go.Bar(name=tags_list[i], x=years_list[8:], y=ele[8:])
    data_l.append(gb)
    i += 1        
fig = go.Figure(data=data_l)
# Change the bar mode
fig.update_layout(barmode='stack')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

['1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

# Platforms

In [86]:
dict_plat = {}
for t in df.platforms:
    if ';' in t:
        mt = t.split(';')
        for e in mt:
            dict_plat[e] = dict_plat.get(e, 0) + 1
    else : dict_plat[t] = dict_plat.get(t, 0) + 1
            
names = list(dict_plat.keys())
values = list(dict_plat.values())
print(names)
print(values)
fig = go.Figure(data=[go.Pie(labels=names, values=values)])
fig.update_traces(textinfo='value+percent+label', hoverinfo=None)
plotio.write_html(fig, file='index.html', auto_open=True)

['windows', 'mac', 'linux']
[27070, 8066, 5235]

In [6]:
dict_plat_m = {'w':0, 'm':0, 'l':0, 'wl':0, 'wm':0, 'ml':0, 'wml':0}
for t in df.platforms:
    if 'windows' in t and 'mac' in t and 'linux' in t:
        dict_plat_m['wml'] += 1
    elif 'windows' in t and 'mac' in t:
        dict_plat_m['wm'] += 1
    elif 'windows' in t and 'linux' in t:
        dict_plat_m['wl'] += 1
    elif 'mac' in t and 'linux' in t:
        dict_plat_m['ml'] += 1
    elif 'windows' in t:
        dict_plat_m['w'] += 1
    elif 'mac' in t:
        dict_plat_m['m'] += 1
    elif 'linux' in t:
        dict_plat_m['l'] += 1

In [7]:
dict_plat_m

{'w': 18398, 'm': 3, 'l': 1, 'wl': 610, 'wm': 3439, 'ml': 1, 'wml': 4623}

In [510]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    labels=["Multiplateforme", "Linux", "Windows", "Mac", "Multiplateforme", "Total Mac","Windows","Mac","Linux", "Total Linux", "Total Windows", "Windows", "Multiplateforme", "Mac", "Linux"],
    parents=["Total Linux", "Total Linux", "Total Linux", "Total Linux", "Total Mac", "","Total Mac", "Total Mac","Total Mac", "", "", "Total Windows", "Total Windows", "Total Windows", "Total Windows"],
    values=[4628, 1, 610, 1, 4623, 8066,3439,3,1, 5235, 27070, 18398 , 4628, 3439, 610],
    textinfo="label+value+percent root"
))
fig.update_layout(margin = dict(t=10, l=10, r=10, b=10))
plotio.write_html(fig, file='index.html', auto_open=True)

In [509]:
import plotly.graph_objects as go

trace = go.Sunburst(
    labels=[ "Multiplateforme", "Linux", "Windows", "Mac", "Multiplateforme", "Total Mac","Windows","Mac","Linux", "Total Linux", "Total Windows", "Windows", "Multiplateforme", "Mac", "Linux"],
    parents=[ "Total Linux", "Total Linux", "Total Linux", "Total Linux", "Total Mac", "","Total Mac", "Total Mac","Total Mac", "", "", "Total Windows", "Total Windows", "Total Windows", "Total Windows"],
    values=[ 4623, 1, 610, 1, 4623, 8066,3439,3,1, 5235, 27070, 18398 , 4623, 3439, 610],
    textinfo="label+value+percent parent",
    branchvalues='total'
)
layout = go.Layout(
    margin = go.layout.Margin(t=0, l=0, r=0, b=0)
)

fig = {
    'data': [trace],
    'layout': layout
}

plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# Nombre de jeux par age requis

In [506]:
df_html = df.sample(5)

with open('../graphes/index.html', 'w', encoding='utf8') as file:
    file.write(df_html.to_html())
#plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [507]:
df["required_age"].value_counts()

0     26479
18      308
16      192
12       73
7        12
3        11
Name: required_age, dtype: int64

In [508]:
import plotly.express as px



import plotly.express as px
fig = px.funnel_area(names=["aucun age requis", "18 ans","16 ans", "12 ans", "7 ans", "3 ans"],
                    values=[26479, 308, 192, 73, 12, 11])
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [284]:
fig = go.Figure(go.Funnel(
    y = ["18 ans","16 ans", "12 ans", "7 ans", "3 ans"],
    x = [308, 192, 73, 12, 11],
    textinfo="label+value+percent total"
))

plotio.write_html(fig, file='../graphes/index.html', auto_open=True)


import plotly.express as px

fig = go.Figure(go.Funnel(
    y = ["aucun age requis", "18 ans","16 ans", "12 ans", "7 ans", "3 ans"],
    x = [26479, 192, 73, 12, 11],
    textinfo="label+value+percent total"
))

plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [505]:
from plotly import graph_objects as go

fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])

fig.add_trace(go.Funnelarea(
    scalegroup = "first", values = [26479, 308, 192, 73, 12, 11], textinfo = "value",
    title = {"position": "top center", "text": "Sales for Sale Person A in U.S."}), 1, 1)

fig.add_trace(go.Funnelarea(
    scalegroup = "first", values = [308, 192, 73, 12, 11], textinfo = "value",
    title = {"position": "top center", "text": "Sales of Sale Person B in Canada"}), 1, 2)

plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# Nombre de jeux par année

In [234]:
data = pd.read_csv("data.csv")
df = pd.DataFrame(data)
df.sample(5)

,Index,id,name,release_date,english,developer,publisher,platforms,required_age,steamspy_tags,positive_ratings,negative_ratings,average_playtime,median_playtime,price,detailed_description,about_the_game,short_description
13748,13748,604900,Get'em Gary,2017-03-11,1,"Second Dimension R&T, LLC","Second Dimension R&T, LLC",windows,0,Action;Indie;Casual,1,0,0,0,3.99,"<h2 class=""bb_tag"">The Story</h2>The neighborh...","<h2 class=""bb_tag"">The Story</h2>The neighborh...","Inspired by games like Donkey Kong, Wrecking C..."
2796,2796,286120,QuestRun,2014-04-18,1,Cuve Games,Digerati Distribution,windows;mac,0,RPG;Casual;Indie,419,355,365,486,2.09,Challenging and fast-paced with a modern twist...,Challenging and fast-paced with a modern twist...,Challenging and fast-paced with a modern twist...
7777,7777,432990,Green Game: TimeSwapper,2016-04-04,1,iFun4all S.A.,iFun4all S.A.,windows;mac;linux,0,Indie;Action;Platformer,42,4,249,249,1.99,You are a master of time. You can set it to pa...,You are a master of time. You can set it to pa...,It’s a challenging 2D arcade game where you ar...
9616,9616,492220,Bohemian Killing,2016-07-21,1,The Moonwalls,Libredia Entertainment,windows;mac,0,Indie;Adventure;First-Person,121,45,0,0,9.99,"<strong>Steampunk Paris, set against the backg...","<strong>Steampunk Paris, set against the backg...","Paris, 1894. Class differences and pervasive r..."
25608,25608,978490,Yo My Yo!,2018-12-02,1,StepUnique,StepUnique,windows,0,Indie;Casual;Racing,2,0,0,0,0.79,"Yo My Yo! is a simplistic 2D racing game, in w...","Yo My Yo! is a simplistic 2D racing game, in w...","Yo My Yo! is a simplistic 2D racing game, in w..."

In [502]:
print(df.developer.value_counts().values)

ja = df["release_date"].value_counts()
ja = ja.sort_index(ascending=True)
jav = df[df["developer"] == "Choice of Games"]
jav = jav["release_date"].value_counts()
jav = jav.sort_index(ascending=True)
print(len(ja))
print(len(jav))

[94 72 62 ...  1  1  1]
2619
79

In [503]:
import plotly.graph_objects as go
import numpy as np

fig = go.Figure(data=go.Scatter(x=ja.index, y=ja.values, mode='markers'))
fig.update_layout(plot_bgcolor='white')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [504]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=ja.index, y=ja.values, mode='markers'))                  
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [251]:
fig = go.Figure()
for dev in df.developer.value_counts().index[:20]:
    jav = df[df["developer"] == dev]
    jav = jav["release_date"].value_counts()
    jav = jav.sort_index(ascending=True)
    fig.add_trace(go.Scatter(x=jav.index, y=ja.values, mode='markers'))
fig.update_layout(plot_bgcolor='white')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# prix par nombre de jeux

In [501]:
sp = df.price.value_counts()
sp = sp[sp.index < 100]
#print(sp)
sp = sp.sort_values(ascending=False)
fig = go.Figure(data=go.Scatter(x=sp.values, y=sp.index, mode='markers'))
#fig.update_layout(plot_bgcolor='white')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# developer

In [493]:
dev = df.developer.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
dev

fig1 = go.Figure(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "Nombre de jeux sortie par developper"},
    showlegend = False
    ))
plotio.write_html(fig1, file='../graphes/index.html', auto_open=True)

# publisher

In [494]:
dev = df.publisher.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
dev 

fig2 = go.Figure(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "Nombre de jeux sortie par developper"},
    showlegend = False
    ))
plotio.write_html(fig2, file='../graphes/index.html', auto_open=True)

In [495]:
fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])
dev = df.developer.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
fig.add_trace(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "fig1. Nombre de jeux sortie par developper"},
    showlegend = False
    ), 1, 1)
dev = df.publisher.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
fig.add_trace(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "fig2. Nombre de jeux sortie par publieur"},
    showlegend = False
    ),1, 2)
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# Ratings

In [496]:
df_r = df[['name','negative_ratings','positive_ratings']]
nr = df.negative_ratings
pr = df.positive_ratings

pp_s = []
ss = []
for ele in zip(nr, pr):
    pp = (ele[1]*100)/(ele[0]+ele[1])
    ss.append(ele[0] + ele[1])
    pp_s.append(pp)

In [497]:
pps = pd.Series(pp_s)
pss = pd.Series(ss)

In [498]:
df_b = df_r.merge(pps.to_frame(), left_index=True, right_index=True)
df_b = df_b.merge(pss.to_frame(), left_index=True, right_index=True)
df_b.columns = ["name","nr","pr","prp", "sr"]

In [499]:
df_b = df_b.query('sr > 100000')
df_b = df_b.sort_values(by='prp', ascending=False)
print(df_b.shape)
print(df_b.head())

(41, 5)
                           name    nr      pr        prp      sr
23                     Portal 2  1891  138220  98.650356  140111
2964  The Witcher® 3: Wild Hunt  4798  202930  97.690249  207728
0                Counter-Strike  3339  124534  97.388815  127873
1120                   Terraria  7797  255600  97.039830  263397
7175             Stardew Valley  3761  118217  96.916657  121978

In [500]:
import plotly.graph_objects as go
x = df_b.name
fig = go.Figure()
nr = [-x for x in df_b.nr]
pr = [x for x in df_b.pr]

fig.add_trace(go.Bar(x=x, y=pr))
fig.add_trace(go.Bar(x=x, y=nr))

fig.update_layout(barmode='relative', title_text='Relative Barmode')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [478]:
df_b = df_r.merge(pps.to_frame(), left_index=True, right_index=True)
df_b = df_b.merge(pss.to_frame(), left_index=True, right_index=True)
df_b.columns = ["name","nr","pr","prp", "sr"]
df_b = df_b.query('sr > 100000')
print(df_b.shape)
print(df_b)

(5, 5)
                           name    nr      pr        prp      sr
23                     Portal 2  1891  138220  98.650356  140111
2964  The Witcher® 3: Wild Hunt  4798  202930  97.690249  207728
0                Counter-Strike  3339  124534  97.388815  127873
1120                   Terraria  7797  255600  97.039830  263397
7175             Stardew Valley  3761  118217  96.916657  121978

In [492]:
from plotly import graph_objects as go

fig = go.Figure()

df_b = df_b.sort_values(by='nr', ascending=False)

fig.add_trace(go.Funnel(
    name = 'positive ratings',
    y = df_b.name,
    x = df_b.nr[:5],
    textinfo = "value+percent initial"))

plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# playtime / tag / faire par name

In [591]:
df_tp = df[['average_playtime','steamspy_tags', 'median_playtime']]
df_tp.head()

   average_playtime                 steamspy_tags  median_playtime
0             17612        Action;FPS;Multiplayer              317
1               277        Action;FPS;Multiplayer               62
2               187  FPS;World War II;Multiplayer               34
3               258        Action;FPS;Multiplayer              184
4               624             FPS;Action;Sci-fi              415

In [592]:
dicto_tp = {'pt':{},'pt_m':{}}
tags_v = df_tp.steamspy_tags.values
pt_v = df_tp.average_playtime.values
pt_m_v = df_tp.median_playtime.values

for i in range(len(tags_v)):
    tags = tags_v[i]
    if ';' in tags:
        tags = tags.split(';')
        for tag in tags :
            dicto_tp['pt'][tag] = dicto_tp['pt'].get(tag, []) + [pt_v[i]]
            dicto_tp['pt_m'][tag] = dicto_tp['pt_m'].get(tag, []) + [pt_m_v[i]]
    else :
        dicto_tp['pt'][tags] = dicto_tp['pt'].get(tags, []) + [pt_v[i]]
        dicto_tp['pt_m'][tags] = dicto_tp['pt_m'].get(tags, []) + [pt_m_v[i]]

In [593]:
l_t = []
l_p = []
l_m_p = []
for k, v in dicto_tp['pt'].items():
    l_t.append(k)
    l_p.append(np.mean(v))
    
for k, v in dicto_tp['pt_m'].items():
    l_m_p.append(np.mean(v))

In [594]:
l_p = pd.Series(l_p)
l_t = pd.Series(l_t)
l_m_p = pd.Series(l_m_p)
df_n = l_t.to_frame()
df_n = df_n.merge(l_p.to_frame(), left_index=True, right_index=True)
df_n = df_n.merge(l_m_p.to_frame(), left_index=True, right_index=True)
df_n.columns = ["t","pt", 'm_pt']

In [595]:
df_n.head()

              t           pt        m_pt
0        Action    83.284538   77.184848
1           FPS   470.479012  284.148148
2   Multiplayer  1031.708642  514.266667
3  World War II   440.100000  378.076923
4        Sci-fi   303.363057  281.286624

In [596]:
df_n = df_n.sort_values(by='pt', ascending=False)
list_pt = [int(t) for t in df_n.pt.values]
list_m_pt = [int(t) for t in df_n.m_pt.values]
list_t = df_n.t.values

import plotly.graph_objects as go

months = list_t

fig = go.Figure()
fig.add_trace(go.Bar(
    x=months,
    y=list_pt,
    name='Secondary Product',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [597]:
df_n = df_n.sort_values(by='m_pt', ascending=False)
list_pt = [int(t) for t in df_n.pt.values]
list_m_pt = [int(t) for t in df_n.m_pt.values]
list_t = df_n.t.values

import plotly.graph_objects as go

months = list_t

fig = go.Figure()
fig.add_trace(go.Bar(
    x=months,
    y=list_m_pt,
    name='Secondary Product',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [587]:
df_n = df_n.sort_values(by='m_pt', ascending=False)
list_pt = [int(t) for t in df_n.pt.values]
list_m_pt = [int(t) for t in df_n.m_pt.values]
list_t = df_n.t.values

list_dif = []
for i in range(len(list_t)):
    dif = list_pt[i] - list_m_pt[i]
    if dif < 0:
        dif = -dif
    list_dif.append(dif)
    
l_t = pd.Series(list_t)
l_m_p = pd.Series(list_m_pt)
l_p = pd.Series(list_pt)
l_d = pd.Series(list_dif)
df_m = l_t.to_frame()
df_m = df_n.merge(l_p.to_frame(), left_index=True, right_index=True)
df_m = df_n.merge(l_m_p.to_frame(), left_index=True, right_index=True)
df_m = df_n.merge(l_d.to_frame(), left_index=True, right_index=True)
df_m.columns = ["t","pt", 'm_pt','d']
df_m = df_m.sort_values(by='d', ascending=False)
df_m.head()

                       t    pt  m_pt     d
0               Software  3238  6184  2946
145                 MOBA  2120   165  1955
15                MMORPG  2626  1078  1548
28              Military  2095   700  1395
7    Resource Management  2155  1480   675

In [589]:
months = list_t
n=10

fig = go.Figure()
fig.add_trace(go.Bar(
    x=df_m.t.values[:n],
    y=df_m.d.values[:n],
    name='Secondary Product',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)