In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import mpld3
import numpy as np
import plotly.io as plotio
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
# plotio.write_html(fig, file=’index.html’, auto_open=True)

In [2]:
data = pd.read_csv("data.csv")
df = pd.DataFrame(data)

In [3]:
df.head()

,Index,id,name,release_date,english,developer,publisher,platforms,required_age,steamspy_tags,positive_ratings,negative_ratings,average_playtime,median_playtime,price,detailed_description,about_the_game,short_description
0,0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Action;FPS;Multiplayer,124534,3339,17612,317,7.19,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...
1,1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Action;FPS;Multiplayer,3318,633,277,62,3.99,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...
2,2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,FPS;World War II;Multiplayer,3416,398,187,34,3.99,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...
3,3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Action;FPS;Multiplayer,1273,267,258,184,3.99,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...
4,4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,FPS;Action;Sci-fi,5250,288,624,415,3.99,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...

# Ratings

In [172]:
dic = {'positive':[], 'negative':[]}
df_t = df.query('negative_ratings + positive_ratings > 0' )
df_t.reset_index(drop = True, inplace = True)
for i in range(df_t.shape[0]):
    neg_abs = df_t.negative_ratings[i]
    pos_abs = df_t.positive_ratings[i]
    t = pos_abs + neg_abs
    pos_rel = (pos_abs/t)*100
    neg_rel = (neg_abs/t)*100
    dic['positive'].append(pos_rel)
    dic['negative'].append(neg_rel)
    
df_ratings = pd.DataFrame(dic)
#df_t = pd.merge( df[['name']], df_ratings )
df_ratings = df_t[['name']].join(df_ratings)
df_ratings.head()

                        name   positive   negative
0             Counter-Strike  97.388815   2.611185
1      Team Fortress Classic  83.978740  16.021260
2              Day of Defeat  89.564761  10.435239
3         Deathmatch Classic  82.662338  17.337662
4  Half-Life: Opposing Force  94.799567   5.200433

# Les jeux les plus aimés

In [173]:
n = 1000
fig = px.bar(df_ratings.sort_values(by = 'positive', ascending=False), x='name', y='positive')
plotio.write_html(fig, file='index.html', auto_open=True)
#df_t.sort_values(by = 'positive')[:n]

# Type de jeux

# Type de jeux en fonction des années

In [4]:
ser_years = []
ser_years_d = {}
for date in df.release_date:
    ser_years.append(date[:4])
    ser_years_d[date[:4]] = ser_years_d.get(date[:4], 0) + 1
print(sorted(ser_years_d.items(), key=lambda x: x[0]))


years = list(set(ser_years))
print(years)
dict_years = {k:{} for k in years}
ser_tags = df.steamspy_tags.values
ser_years_d_2 = {}

for i in range(len(ser_tags)):
    t = ser_tags[i]
    y = ser_years[i]
    if ';' in t:
        mt = t.split(';')
        for e in mt:
            dict_years[y][e] = dict_years[y].get(e, 0) + 1
            ser_years_d_2[y] = ser_years_d_2.get(y, 0) + 1
            
    else : 
        dict_years[y][t] = dict_years[y].get(t, 0) + 1
        ser_years_d_2[y] = ser_years_d_2.get(y, 0) + 1

[('1997', 1), ('1998', 1), ('1999', 2), ('2000', 2), ('2001', 4), ('2002', 1), ('2003', 3), ('2004', 6), ('2005', 6), ('2006', 48), ('2007', 93), ('2008', 145), ('2009', 305), ('2010', 238), ('2011', 239), ('2012', 320), ('2013', 418), ('2014', 1555), ('2015', 2597), ('2016', 4361), ('2017', 6357), ('2018', 8160), ('2019', 2213)]
['2004', '2012', '2017', '2006', '1998', '1999', '2015', '2008', '2019', '2016', '2001', '2005', '2014', '2010', '2002', '2003', '2018', '2009', '1997', '2013', '2011', '2007', '2000']

In [266]:
s = 8
e = 12

n_col = 2
n_row = 2

list_type_years = sorted(list(dict_years.items()), key=lambda t: t[0])
list_type_years = list_type_years[s:e]
titles = [ele[0] for ele in list_type_years]


fig = make_subplots(n_row, n_col, specs=[[{'type':'domain'} for i in range(n_col)] for i in range(n_row)],
                    subplot_titles=titles)

r = 1
c = 1
i = 0
for tupl in list_type_years :
    dico = tupl[1]
    list_type = sorted(dico.items(), key=lambda t: t[1], reverse=True)[:50]
    names = []
    values = []
    for t in list_type:
        names.append(t[0])
        values.append(t[1])
    
    fig.add_trace(go.Pie(labels=names, values=values, name=tupl[0]), r, c)
    fig.update_traces(textinfo='value+percent+label', hoverinfo=None)
    i += 1
    if c < n_col : c += 1
    else :
        c = 1
        r += 1
    
fig.update_layout(title_text='Tag en fonction des années')
plotio.write_html(fig, file='index.html', auto_open=True)

In [5]:
import plotly.graph_objects as go

df_dy = pd.DataFrame(dict_years)
dict_dy = df_dy.to_dict()
#print(dict_dy)

for y, d in dict_dy.items():
    for k, v in d.items():
        if v!=v:
            dict_dy[y][k] = 0
        else:
            dict_dy[y][k] = int(v)
            #print(v, int(v))
print('-------------')

df_dy = sorted(dict_dy.items(), key=lambda t: t[0], reverse=False)


list_tag = list(df_dy[0][1].keys())
stag = sorted(list_tag, reverse=False)
#print(stag)

df_dy_list = []
for y, d in df_dy:
    sd = sorted(d.items(), key=lambda t: t[0], reverse=False)
    
    temp = []
    for ele in sd:
        temp.append(ele[1])
    df_dy_list.append(temp)

-------------

In [6]:
new_dict = {}
for tu in df_dy:
    tu_sorted = sorted(list(tu[1].items()), key=lambda x: x[0])
    for tag, v in tu_sorted:
        new_dict[tag] = new_dict.get(tag, []) + [v]
new_list = list(new_dict.items())

years_list = []
for y in df_dy:
    years_list.append(y[0])
    
tags_list = []
values_list = []
for ele in new_list:
    tags_list.append(ele[0])
    values_list.append(ele[1])

In [248]:
data_l = []
print(years_list)
i=0
for ele in values_list:
    gb = go.Bar(name=tags_list[i], x=years_list[8:], y=ele[8:])
    data_l.append(gb)
    i += 1        
fig = go.Figure(data=data_l)
# Change the bar mode

fig.update_layout(barmode='stack', title='Evolution des tags utilisés en fonction des années', showlegend=False,
                  template='seaborn')
plotio.write_html(fig, file='../graphes/tags_par_annee.html', auto_open=True)

['1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

# Platforms

In [78]:
dict_plat = {}
for t in df.platforms:
    if ';' in t:
        mt = t.split(';')
        for e in mt:
            dict_plat[e] = dict_plat.get(e, 0) + 1
    else : dict_plat[t] = dict_plat.get(t, 0) + 1
            
names = list(dict_plat.keys())
values = list(dict_plat.values())
print(names)
print(values)
fig = go.Figure(data=[go.Pie(labels=names, values=values)])
fig.update_traces(textinfo='value+percent+label', hoverinfo='none')
fig.update_layout(title='Proportion des jeux par plateforme', showlegend=False,
                  template='plotly')
plotio.write_html(fig, file='../graphes/plateformes_s.html', auto_open=True)

['windows', 'mac', 'linux']
[27070, 8066, 5235]

In [79]:
dict_plat_m = {'w':0, 'm':0, 'l':0, 'wl':0, 'wm':0, 'ml':0, 'wml':0}
for t in df.platforms:
    if 'windows' in t and 'mac' in t and 'linux' in t:
        dict_plat_m['wml'] += 1
    elif 'windows' in t and 'mac' in t:
        dict_plat_m['wm'] += 1
    elif 'windows' in t and 'linux' in t:
        dict_plat_m['wl'] += 1
    elif 'mac' in t and 'linux' in t:
        dict_plat_m['ml'] += 1
    elif 'windows' in t:
        dict_plat_m['w'] += 1
    elif 'mac' in t:
        dict_plat_m['m'] += 1
    elif 'linux' in t:
        dict_plat_m['l'] += 1

In [53]:
dict_plat_m

{'w': 18398, 'm': 3, 'l': 1, 'wl': 610, 'wm': 3439, 'ml': 1, 'wml': 4623}

In [72]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    labels=["Multiplateforme", "Linux", "Windows", "Mac", "Multiplateforme", "Total Mac","Windows","Mac","Linux", "Total Linux", "Total Windows", "Windows", "Multiplateforme", "Mac", "Linux"],
    parents=["Total Linux", "Total Linux", "Total Linux", "Total Linux", "Total Mac", "","Total Mac", "Total Mac","Total Mac", "", "", "Total Windows", "Total Windows", "Total Windows", "Total Windows"],
    values=[4628, 1, 610, 1, 4623, 8066,3439,3,1, 5235, 27070, 18398 , 4628, 3439, 610],
    textinfo="label+value+percent root"
))
fig.update_layout(margin = dict(t=10, l=10, r=10, b=10))
plotio.write_html(fig, file='index.html', auto_open=True)

In [80]:
import plotly.graph_objects as go

fig = go.Figure(go.Sunburst(
    labels=[ "Multiplateforme", "Linux", "Windows", "Mac", "Multiplateforme", "Total Mac","Windows","Mac","Linux", "Total Linux", "Total Windows", "Windows", "Multiplateforme", "Mac", "Linux"],
    parents=[ "Total Linux", "Total Linux", "Total Linux", "Total Linux", "Total Mac", "","Total Mac", "Total Mac","Total Mac", "", "", "Total Windows", "Total Windows", "Total Windows", "Total Windows"],
    values=[ 4623, 1, 610, 1, 4623, 8066,3439,3,1, 5235, 27070, 18398 , 4623, 3439, 610],
    textinfo="label+value+percent parent",
    hoverinfo='none',
    branchvalues='total'
))

fig.update_layout(margin = dict(t=0, l=0, r=0, b=0), template='plotly')

plotio.write_html(fig, file='../graphes/plateformes_c.html', auto_open=True)

# Nombre de jeux par age requis

In [75]:
df_html = df.sample(5)

with open('../graphes/dataset_sample.html', 'w', encoding='utf8') as file:
    file.write(df_html.to_html())
#plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [507]:
df["required_age"].value_counts()

0     26479
18      308
16      192
12       73
7        12
3        11
Name: required_age, dtype: int64

In [91]:
import plotly.express as px


import plotly.express as px
fig = px.funnel_area(names=["aucun age requis", "18 ans","16 ans", "12 ans", "7 ans", "3 ans"],
                    values=[26479, 308, 192, 73, 12, 11])
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0), template='plotly')
fig.update_layout(plot_bgcolor='white')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [101]:
fig = go.Figure(go.Funnel(
    y = ["18 ans","16 ans", "12 ans", "7 ans", "3 ans"],
    x = [308, 192, 73, 12, 11],
    textinfo="label+value+percent total",
    marker = {"color": ["#ff7d7d", "#f3c670", "#fafa8c", "#b9fa8c", "#97fa52"],
    "line": {"width": [4, 2, 2, 3, 1, 1], "color": ["wheat", "wheat", "wheat", "wheat", "wheat"]}},
    connector = {"line": {"color": "#cfcecc", "dash": "dot", "width": 3}}
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0), template='plotly')
fig.update_layout(plot_bgcolor='white')
plotio.write_html(fig, file='../graphes/ages.html', auto_open=True)

In [107]:
import plotly.express as px

fig = go.Figure(go.Funnel(
    y = ["aucun age requis", "18 ans","16 ans", "12 ans", "7 ans", "3 ans"],
    x = [26479, 192, 73, 12, 11],
    textinfo="label+value+percent total"
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0), template='ggplot2')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [108]:
from plotly import graph_objects as go

fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])

fig.add_trace(go.Funnelarea(
    scalegroup = "first", values = [26479, 308, 192, 73, 12, 11], textinfo = "value",
    title = {"position": "top center", "text": "Sales for Sale Person A in U.S."}), 1, 1)

fig.add_trace(go.Funnelarea(
    scalegroup = "first", values = [308, 192, 73, 12, 11], textinfo = "value",
    title = {"position": "top center", "text": "Sales of Sale Person B in Canada"}), 1, 2)

plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# Nombre de jeux par année

In [104]:
data = pd.read_csv("data.csv")
df = pd.DataFrame(data)
df.sample(5)

,Index,id,name,release_date,english,developer,publisher,platforms,required_age,steamspy_tags,positive_ratings,negative_ratings,average_playtime,median_playtime,price,detailed_description,about_the_game,short_description
2485,2485,271900,Hexcells Plus,2014-02-19,1,Matthew Brown,Matthew Brown,windows;mac;linux,0,Puzzle;Indie;Casual,1283,89,0,0,1.99,Hexcells Plus is a standalone expansion to Hex...,Hexcells Plus is a standalone expansion to Hex...,Hexcells Plus is a standalone expansion to Hex...
23605,23605,898380,Color Party,2018-07-25,1,VirtexUniverse,VirtexUniverse,windows,0,Casual;Indie;Puzzle,8,23,0,0,0.79,Arrange the pictures so that together were onl...,Arrange the pictures so that together were onl...,The original puzzle in which you need to arran...
26176,26176,1006390,プランZ PlanZ,2019-02-04,1,Yomu,Yomu,windows,0,Early Access;Free to Play;Casual,7,2,0,0,0.00,<h1>Reward Time</h1><p>If you play in the foll...,This game is a simple fighting game based on t...,This game is a simple fighting game based on t...
12108,12108,558440,The Night Christmas Ended,2016-12-04,1,Giant Goblin Studio,Giant Goblin Studio,windows,0,Action;Indie;Casual,6,0,0,0,3.99,Get into the Christmas spirit with the world’s...,Get into the Christmas spirit with the world’s...,Team up with the world’s biggest goblin on his...
16339,16339,685000,BAE,2017-08-07,1,Riviysky,Riviysky,windows,0,Indie;Casual;Puzzle,32,13,0,0,0.79,BAE is a simple puzzle game in which your task...,BAE is a simple puzzle game in which your task...,BAE is a simple puzzle game in which your task...

In [109]:
print(df.developer.value_counts().values)

ja = df["release_date"].value_counts()
ja = ja.sort_index(ascending=True)
jav = df[df["developer"] == "Choice of Games"]
jav = jav["release_date"].value_counts()
jav = jav.sort_index(ascending=True)
print(len(ja))
print(len(jav))

[94 72 62 ...  1  1  1]
2619
79

In [418]:
import plotly.graph_objects as go
import numpy as np

fig = go.Figure(data=go.Scatter(x=ja.index, y=ja.values, mode='markers'))
fig.update_layout(template='plotly',     xaxis_title="date", yaxis_title="nombre de jeux", title='Nombre de jeux par année')
plotio.write_html(fig, file='../graphes/jeux_par_date.html', auto_open=True)

In [ ]:
sd = df.release_date.values
sd = [d[0:7] for d in sd]

dict_d = {str(m):{str(a):0 for a in range(1997, 2019)} for m in range(1, 13)}
print(dict_d)
for d in sd:
    a, m = d.split('-')
    m = str(int(m))
    dict_d[m][a] = dict_d[m].get(a, 0) + 1
dict_d

In [453]:
str_m = {1:'janvier',
         2:'février',
         3:'mars',
         4:'avril',
         5:'mai',
         6:'juin',
         7:'juillet',
         8:'aout',
         9:'septembre',
         10:'octobre',
         11:'novembre',
         12:'décembre'
        }

new_dict = {}
for m in dict_d.items():
    new_dict[m[0]] = list(m[1].values())
    
import plotly.graph_objects as go
fig = go.Figure()

cs = ["#ffc46f", "#FF4136", "#FF851B", "#54feb6 ", " #ff93f7 ", "#3D9970", " #fee254 ", " #54feb6 ", " #78ffff", " #54feb6 ", " #78ffff", " #54feb6 "]
c = 0
for m in new_dict.items():
    n = str_m[int(m[0])]
    y0 = m[1]

    fig.add_trace(go.Box(y=y0, boxmean=True, name=n, marker_color=cs[c]))
    c += 1
fig.update_layout(xaxis_title="type de jeu", yaxis_title="prix", title='Prix des différents types de jeu')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# prix par nombre de jeux

In [306]:
sp = df.price.value_counts()
sp = sp[sp.index < 100]
#print(sp)
sp = sp.sort_values(ascending=False)
fig = go.Figure(data=go.Scatter(x=sp.values, y=sp.index, mode='markers'))
#fig.update_layout(plot_bgcolor='white')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [353]:

ser_tags = df.steamspy_tags.values
dic_t = {}
for t in ser_tags:
    if ';' in t:
        mt = t.split(';')
        for e in mt:
            dic_t[e] = dic_t.get(e, 0) + 1
            
    else : 
        dic_t[t] = dic_t.get(t, 0) + 1
sts = sorted(list(dic_t.items()), key=lambda x: x[1], reverse=True)
sts[18:20]

[('Anime', 538), ('Horror', 493)]

In [364]:
import plotly.graph_objects as go
fig = go.Figure()

cs = ["#ffc46f", "#FF4136", "#FF851B", "#54feb6 ", " #ff93f7 ", "#3D9970", " #fee254 ", " #54feb6 ", " #78ffff", " #54feb6 "]
c = 0
for tag in sts[15:20]:
    tag = tag[0]
    dft = df[df.steamspy_tags.str.contains(tag)]
    y0 = dft.price.values
    y0 = [p for p in y0 if p<80]

    fig.add_trace(go.Box(y=y0, boxpoints='all', boxmean=True, name=tag, marker_color=cs[c]))
    c += 1
fig.update_layout(xaxis_title="type de jeu", yaxis_title="prix", title='Prix des différents types de jeu')
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# developer

In [128]:
dev = df.developer.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
dev

fig1 = go.Figure(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "Nombre de jeux sortie par developper"},
    showlegend = False
    ))
plotio.write_html(fig1, file='../graphes/index.html', auto_open=True)

# publisher

In [129]:
dev = df.publisher.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
dev 

fig2 = go.Figure(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "Nombre de jeux sortie par developper"},
    showlegend = False
    ))
plotio.write_html(fig2, file='../graphes/index.html', auto_open=True)

In [158]:
fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])
dev = df.developer.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
fig.add_trace(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "TOP 10 des plus gros developpeurs"},
    showlegend = False,
    marker = {"colors": ["#f7db5e", "#dadada ", "#f7bd5e ",  " #c2c5ff " , " #c5c9ff "," #c8cbfe  "," #cccfff  "," #d2d5ff "," #d8dbff "," #e1e2ff  "]}
    ),1, 1)
dev = df.publisher.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
fig.add_trace(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    title = {"position": "top center", "text": "TOP 10 des plus gros éditeurs"},
    showlegend = False,
    marker = {"colors": ["#f7db5e", "#dadada ", "#f7bd5e ",  "#bdbdbd" , "#c4c4c4","#c9c9c9 ","#cfcfcf ","#d3d3d3","#dadada","#e1e1e1 "]}
    ),1, 2)
fig.update_layout(plot_bgcolor='white', template='plotly')
plotio.write_html(fig, file='../graphes/top10_dev_ed.html', auto_open=True)

In [259]:
dev = df.developer.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
fig = go.Figure(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    hoverinfo = "value+text",
    title = {"position": "top center", "text": "TOP 10 des plus gros developpeurs"},
    showlegend = False,
    marker = {"colors": ["#f7db5e", "#dadada ", "#f7bd5e ",  " #c2c5ff " , " #c5c9ff "," #c8cbfe  "," #cccfff  "," #d2d5ff "," #d8dbff "," #e1e2ff  "]}
    ))
plotio.write_html(fig, file='../graphes/top10_dev.html', auto_open=True)

In [260]:
dev = df.publisher.value_counts()
#dev = dev[dev.values > 15]
dev = dev.sort_values(ascending=False)[:10]
fig = go.Figure(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    hoverinfo = "value+text",
    title = {"position": "top center", "text": "TOP 10 des plus gros éditeurs"},
    showlegend = False,
    marker = {"colors": ["#f7db5e", "#dadada ", "#f7bd5e ",  "#bdbdbd" , "#c4c4c4","#c9c9c9 ","#cfcfcf ","#d3d3d3","#dadada","#e1e1e1 "]}
    ))
plotio.write_html(fig, file='../graphes/top10_ed.html', auto_open=True)

In [261]:
df_dev_eq_ed = df[df.developer == df.publisher]
dev = df_dev_eq_ed.developer.value_counts()
dev = dev.sort_values(ascending=False)[:10]
fig = go.Figure(go.Funnelarea(
    text = dev.index,
    values = dev.values,
    textinfo = "value+text",
    hoverinfo = "value+text",
    title = {"position": "top center", "text": "TOP 10 des plus gros éditeurs qui sont aussi développeurs"},
    showlegend = False,
    marker = {"colors": ["#f7db5e", "#dadada ", "#f7bd5e ",  " #6fffff " , " #7bffff "," #93ffff  "," #a2ffff  "," #b2ffff "," #c5ffff "," #d4ffff  "]}
    ))
plotio.write_html(fig, file='../graphes/top10_ed_dev.html', auto_open=True)

# Ratings

In [402]:
df_r = df[df.price == 0]
print(len(df_r))
print(len(df))
#df_r = df
df_r = df_r[['name','negative_ratings','positive_ratings']]
nr = df.negative_ratings
pr = df.positive_ratings

pp_s = []
ss = []
for ele in zip(nr, pr):
    pp = (ele[1]*100)/(ele[0]+ele[1])
    ss.append(ele[0] + ele[1])
    pp_s.append(pp)

2560
27075

In [403]:
pps = pd.Series(pp_s)
pss = pd.Series(ss)

In [404]:
df_b = df_r.merge(pps.to_frame(), left_index=True, right_index=True)
df_b = df_b.merge(pss.to_frame(), left_index=True, right_index=True)
df_b.columns = ["name","nr","pr","prp", "sr"]

In [413]:
#df_b = df_b.query('sr > 100000') #A MODIFIER
df_b = df_b.sort_values(by='prp', ascending=False)[:15]
print(df_b.shape)
print(df_b)

(15, 5)
                                   name      nr       pr        prp       sr
16808        Doki Doki Literature Club!    3588   108556  96.800542   112144
3785        Life is Strange - Episode 1    4496   118634  96.348575   123130
4137                 Everlasting Summer    1538    31230  95.306396    32768
19                      Team Fortress 2   34036   515879  93.810680   549915
1772                      Path of Exile    6117    71593  92.128426    77710
1634                           Warframe   20268   226541  91.787982   246809
3362                           Unturned   31482   292574  90.285012   324056
5390                     Clicker Heroes    4734    42530  89.983920    47264
1547               No More Room in Hell    5747    48190  89.344977    53937
4749               AdVenture Capitalist    4214    35093  89.279263    39307
7324                      Emily is Away    3340    25981  88.608847    29321
7975                             VRChat    3323    25818  88.596822    29141
25     Counter-Strike: Global Offensive  402313  2644404  86.795196  3046717
22                               Dota 2  142079   863507  85.871024  1005586
8129                          Paladins®   32407   169580  83.955898   201987

In [416]:
import plotly.graph_objects as go
x = df_b.name
fig = go.Figure()
nr = [-x for x in df_b.nr]
pr = [x for x in df_b.pr]
fig.add_trace(go.Bar(name='note positive', x=x, y=pr, marker_color=' #6d81ff ', 
                    # text=pr, textposition='outside'
                    ))

fig.add_trace(go.Bar(name='note negative', x=x, y=nr, marker_color=' #ff6d6d  ', 
                    # text=nr, textposition='outside'
                    ))

fig.update_layout(barmode='relative', title_text='Comparaison des 40 jeux les plus notés',
    legend=go.layout.Legend(
        x=0.7,
        y=0.9,
        borderwidth=2

))
plotio.write_html(fig, file='../graphes/top40_ratings.html', auto_open=True)

In [174]:
df_b = df_r.merge(pps.to_frame(), left_index=True, right_index=True)
df_b = df_b.merge(pss.to_frame(), left_index=True, right_index=True)
df_b.columns = ["name","nr","pr","prp", "sr"]
df_b = df_b.query('sr > 100000')
print(df_b.shape)
print(df_b)

(41, 5)
                                   name      nr       pr        prp       sr
0                        Counter-Strike    3339   124534  97.388815   127873
19                      Team Fortress 2   34036   515879  93.810680   549915
21                        Left 4 Dead 2    8418   251789  96.764883   260207
22                               Dota 2  142079   863507  85.871024  1005586
23                             Portal 2    1891   138220  98.650356   140111
25     Counter-Strike: Global Offensive  402313  2644404  86.795196  3046717
121                         Garry's Mod   16433   363721  95.677278   380154
222         Sid Meier's Civilization® V    5565   129030  95.865374   134595
903                       Borderlands 2   11021   144595  92.917823   155616
1025        The Elder Scrolls V: Skyrim   14951   237303  94.073037   252254
1120                           Terraria    7797   255600  97.039830   263397
1127                             Arma 3   12524   105034  89.346535   117558
1467                           PAYDAY 2   56523   308657  84.521880   365180
1506                               DayZ   77169   118435  60.548353   195604
1526                         Insurgency    9570    92355  90.610743   101925
1596             Euro Truck Simulator 2    5825   176769  96.809862   182594
1607                  Heroes & Generals   34416    65856  65.677358   100272
1634                           Warframe   20268   226541  91.787982   246809
1727                        War Thunder   22166    83852  79.092230   106018
1817                         The Forest    8881   110460  92.558299   119341
2016                               Rust   53709   220370  80.403825   274079
2031                     Rocket League®   21816   242561  91.748148   264377
2478                 Grand Theft Auto V  139308   329061  70.256785   468369
2563                       No Man's Sky   56488    63444  52.899977   119932
2964          The Witcher® 3: Wild Hunt    4798   202930  97.690249   207728
3251                          Robocraft   30987    80360  72.170781   111347
3362                           Unturned   31482   292574  90.285012   324056
3785        Life is Strange - Episode 1    4496   118634  96.348575   123130
3864              Don't Starve Together    4206   108601  96.271508   112807
4712              ARK: Survival Evolved   66603   145035  68.529754   211638
5235    Tom Clancy's Rainbow Six® Siege   59620   251178  80.817122   310798
5817                    DARK SOULS™ III    9953   100412  90.981742   110365
5916                          Fallout 4   45377   110376  70.866051   155753
6046                   Dead by Daylight   44985   140721  75.776227   185706
6433                          Undertale    4496    97832  95.606286   102328
7175                     Stardew Valley    3761   118217  96.916657   121978
7809                   Z1 Battle Royale   91664   111434  54.867108   203098
8129                          Paladins®   32407   169580  83.955898   201987
12836     PLAYERUNKNOWN'S BATTLEGROUNDS  487076   496184  50.463153   983260
12965             MONSTER HUNTER: WORLD   35294    72029  67.114225   107323
16808        Doki Doki Literature Club!    3588   108556  96.800542   112144

In [175]:
from plotly import graph_objects as go

fig = go.Figure()

df_b = df_b.sort_values(by='nr', ascending=False)

fig.add_trace(go.Funnel(
    name = 'positive ratings',
    y = df_b.name,
    x = df_b.nr[:5],
    textinfo = "value+percent initial"))

plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# playtime / tag / faire par name

In [369]:
df_tp = df[['average_playtime','steamspy_tags', 'median_playtime']]
df_tp.head()

   average_playtime                 steamspy_tags  median_playtime
0             17612        Action;FPS;Multiplayer              317
1               277        Action;FPS;Multiplayer               62
2               187  FPS;World War II;Multiplayer               34
3               258        Action;FPS;Multiplayer              184
4               624             FPS;Action;Sci-fi              415

In [370]:
dicto_tp = {'pt':{},'pt_m':{}}
tags_v = df_tp.steamspy_tags.values
pt_v = df_tp.average_playtime.values
pt_m_v = df_tp.median_playtime.values

for i in range(len(tags_v)):
    tags = tags_v[i]
    if ';' in tags:
        tags = tags.split(';')
        for tag in tags :
            dicto_tp['pt'][tag] = dicto_tp['pt'].get(tag, []) + [pt_v[i]]
            dicto_tp['pt_m'][tag] = dicto_tp['pt_m'].get(tag, []) + [pt_m_v[i]]
    else :
        dicto_tp['pt'][tags] = dicto_tp['pt'].get(tags, []) + [pt_v[i]]
        dicto_tp['pt_m'][tags] = dicto_tp['pt_m'].get(tags, []) + [pt_m_v[i]]

In [371]:
l_t = []
l_p = []
l_m_p = []
for k, v in dicto_tp['pt'].items():
    l_t.append(k)
    l_p.append(np.mean(v))
print(dicto_tp['pt']['Action'][:10])
print(list(dicto_tp['pt'].keys())[:10])


for k, v in dicto_tp['pt_m'].items():
    l_m_p.append(np.mean(v))

[17612, 277, 258, 624, 175, 1300, 427, 361, 691, 6842]
['Action', 'FPS', 'Multiplayer', 'World War II', 'Sci-fi', 'Classic', 'Singleplayer', 'Puzzle', 'First-Person', 'Free to Play']

# box

In [373]:
l_p = pd.Series(l_p)
l_t = pd.Series(l_t)
l_m_p = pd.Series(l_m_p)
df_n = l_t.to_frame()
df_n = df_n.merge(l_p.to_frame(), left_index=True, right_index=True)
df_n = df_n.merge(l_m_p.to_frame(), left_index=True, right_index=True)
df_n.columns = ["t","pt", 'm_pt']

In [374]:
df_n.head()

              t           pt        m_pt
0        Action    83.284538   77.184848
1           FPS   470.479012  284.148148
2   Multiplayer  1031.708642  514.266667
3  World War II   440.100000  378.076923
4        Sci-fi   303.363057  281.286624

In [375]:
df_n = df_n.sort_values(by='pt', ascending=False)
list_pt = [int(t) for t in df_n.pt.values]
list_m_pt = [int(t) for t in df_n.m_pt.values]
list_t = df_n.t.values

import plotly.graph_objects as go


fig = go.Figure()
fig.add_trace(go.Bar(
    x=list_t,
    y=list_pt,
    name='Secondary Product',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [368]:
df_n = df_n.sort_values(by='m_pt', ascending=False)
list_pt = [int(t) for t in df_n.pt.values]
list_m_pt = [int(t) for t in df_n.m_pt.values]
list_t = df_n.t.values

import plotly.graph_objects as go

months = list_t

fig = go.Figure()
fig.add_trace(go.Bar(
    x=list_t,
    y=list_m_pt,
    name='Secondary Product',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

In [366]:
df_n = df_n.sort_values(by='m_pt', ascending=False)
list_pt = [int(t) for t in df_n.pt.values]
list_m_pt = [int(t) for t in df_n.m_pt.values]
list_t = df_n.t.values

list_dif = []
for i in range(len(list_t)):
    dif = list_pt[i] - list_m_pt[i]
    if dif < 0:
        dif = -dif
    list_dif.append(dif)
    
l_t = pd.Series(list_t)
l_m_p = pd.Series(list_m_pt)
l_p = pd.Series(list_pt)
l_d = pd.Series(list_dif)
df_m = l_t.to_frame()
df_m = df_n.merge(l_p.to_frame(), left_index=True, right_index=True)
df_m = df_n.merge(l_m_p.to_frame(), left_index=True, right_index=True)
df_m = df_n.merge(l_d.to_frame(), left_index=True, right_index=True)
df_m.columns = ["t","pt", 'm_pt','d']
df_m = df_m.sort_values(by='d', ascending=False)
df_m.head()

                        t           pt         m_pt     d
0                  Action    83.284538    77.184848  2946
145                MMORPG  2626.419355  1078.096774  1955
15                  Indie    60.795897    70.159685  1548
28   Animation & Modeling    17.259259    18.814815  1395
7                  Puzzle   123.375448   129.059140   675

In [365]:
months = list_t
n=10

fig = go.Figure()
fig.add_trace(go.Bar(
    x=df_m.t.values[:n],
    y=df_m.d.values[:n],
    name='Secondary Product',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
plotio.write_html(fig, file='../graphes/index.html', auto_open=True)

# jeux gratuits